:root {
	--color-white: #FFFFFF;
}

body {
	font-family: 'Montserrat', sans-serif;
}

.wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	position: relative;
	min-height: 100%;
	background-image: url(../img/background/back2.png);
	background-color: #000d90;
	background-position: -96px -10px;
	background-repeat: no-repeat;
}

.container {
	max-width: 980px;
	margin: 0 auto;
	padding: 0 15px 0 15px;
}

/*-----Header-----*/
.header {
	padding: 50px 0 0 0;
}

.header-bottom {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding-top: 20px;
}


.header-top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: calc(20px + (32 - 20) * ((100vw - 600px) / (1440 - 600)));
}

.logo {
	width: calc(40px + (85 - 40) * ((100vw - 320px) / (1440 - 320)));
	height: calc(50px + (104 - 50) * ((100vw - 320px) / (1440 - 320)));
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
}

.logo img {
	width: 100%;
	height: 100%;
	-o-object-fit: contain;
	object-fit: contain;
}

.header__title,
.phone,
.callback,
.menu__a {
	color: var(--color-white);
}

.menu__a:hover {
	font-weight: 600;
}

.header__title {
	max-width: 325px;
	font-weight: 400;
	font-size: calc(0.8125rem + (5.8125 - 0.8125) * ((100vw - 600px) / (1440 - 600)));
	line-height: 22px;
	color: #FFFFFF;
}

.header__connection {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	margin-left: auto;
	gap: 11px;
}

.phone {
	font-weight: 700;
	font-size: calc(0.9375rem + (6.9375 - 0.9375) * ((100vw - 600px) / (1440 - 600)));
	line-height: 1.625rem;
	color: #FFFFFF;
}

.header__phone {
	-ms-flex-item-align: end;
	align-self: flex-end;
}

.callback {
	font-weight: 400;
	font-size: calc(0.5625rem + (5.5625 - 0.5625) * ((100vw - 600px) / (1440 - 600)));
	line-height: 1.0625rem;
	text-decoration: underline;
	background: none;
	font-family: 'Montserrat', sans-serif;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}

.callback:hover {
	opacity: .9;
}

.callback::before {
	content: " ";
	display: block;
	background-image: url(../img/icon/phone.svg);
	background-repeat: no-repeat;
	background-size: contain;
	width: 16px;
	height: 16px;
	margin: 0px 10px 0px 0px;
}

.header__menu-ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.header__menu-li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 0 calc(20px + (30 - 20) * ((100vw - 600px) / (1440 - 600)));
}

.menu__a {
	font-weight: 400;
	font-size: calc(1rem + (3 - 1) * ((100vw - 600px) / (1440 - 600)));
	line-height: 1.375rem;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}

.menu__arrow {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-style: normal;
	font-weight: 600;
}

.menu__arrow::before {
	content: " ";
	display: block;
	background-image: url(../img/icon/arrow.svg);
	background-repeat: no-repeat;
	background-size: contain;
	width: 0.75rem;
	height: 0.75rem;
	margin: 0px 7px 0px 0px;
}

.phone__menu {
	display: none;
}

.phone__open {
	width: 35px;
	height: 35px;
	position: relative;
}

.phone__open svg {
	width: 100%;
	height: 100%;
	-o-object-fit: contain;
	object-fit: contain;
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
}

.phone__menu-nav {
	width: 0;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	overflow-x: hidden;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	height: 100%;
	/*! background: #f7f7f7; */
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	z-index: 1000;
	background-image: url(../img/background/back2.png);
	background-color: #000d90;
	background-position: left top;
	background-repeat: no-repeat;
}

.phone__close {
	width: 25px;
	height: 25px;
	position: absolute;
	top: 50px;
	right: 15px;
}

.phone__close svg {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	cursor: pointer;
}

.phone__menu-ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 10px;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.phone__menu-li {
	padding: 5px 0;
}

.phone__menu-a {
	color: #ffffff;
	font-weight: 400;
	font-size: 20px;
	line-height: 22px;
}

.mobile__connection {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	padding-bottom: 20px;
}

.mobile__callback {
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	text-decoration: underline;
	background: none;
	font-family: 'Montserrat', sans-serif;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: #ffffff;
}

.mobile__callback::before {
	content: " ";
	display: block;
	background-image: url(../img/icon/phone.svg);
	background-repeat: no-repeat;
	background-size: contain;
	width: 16px;
	height: 16px;
	margin: 0px 10px 0px 0px;
}

/*-----Main------*/
.main {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
}

.start {
	padding: 78px 0px 0px 0px;
}

.start__info {
	display: -ms-grid;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 10px;
}

.start__block {
	max-width: 475px;
	min-width: 250px;
}

.start__block-left {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 48px;
}

.start__title,
.start__name {
	text-transform: uppercase;
	max-width: 22.4375rem;
}

.start__title {
	font-weight: 700;
	line-height: 1.8125rem;
	color: #CF0FFF;
	font-size: 1.5rem;
	padding-bottom: 10px;
}

.start__name {
	font-weight: 600;
	font-size: 1.25rem;
	line-height: 1.5rem;
	color: #FFFFFF;
}

.subtitle {
	font-weight: 700;
	font-size: 1.5rem;
	line-height: 1.8125rem;
	color: #FFFFFF;
	text-transform: uppercase;
}

.plus__subtitle {
	padding-bottom: 40px;
}

.start__subtitle {
	max-width: 18.9375rem;

}

.start__btn {
	display: block;
}

.start__btn-violet {
	background: -o-linear-gradient(358.93deg, #CF0FFF 0%, #9410C1 100%);
	background: linear-gradient(91.07deg, #CF0FFF 0%, #9410C1 100%);
	-webkit-box-shadow: 0px 0px 30px 2px #CF0FFF;
	box-shadow: 0px 0px 30px 2px #CF0FFF;
	display: inline-block;
	font-weight: 700;
	font-size: 0.9375rem;
	line-height: 1.125rem;
	text-transform: uppercase;
	color: #FFFFFF;
	padding: 0.875rem 7.25rem;
	cursor: pointer;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}

.start__btn-violet:hover {
	opacity: .9;
}

.start__img {
	position: relative;
	padding: 0 0 60.7% 0;
}

.start__img img {
	width: 100%;
	height: 100%;
	-o-object-fit: contain;
	object-fit: contain;
	position: absolute;
	top: 0;
	left: 0;
}

.start__consult {
	padding-top: 200px;
	display: -ms-grid;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 10px;
}

.consult__block-left {
	position: relative;
}

.consult__subtitle {
	padding-bottom: 40px;
}

.consult__text {
	position: relative;
	padding: 0px 0px 0px calc(1.875rem + (76.875 - 1.875) * ((100vw - 320px) / (1440 - 320)));
	max-width: 27.9375rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 20px;
}

.consult__text::before {

	content: " ";
	display: block;
	background-image: url(../img/icon/question-icon.png);
	background-repeat: no-repeat;
	background-size: contain;
	width: calc(1.25rem + (51.25 - 1.25) * ((100vw - 320px) / (1440 - 320)));
	height: calc(1.25rem + (51.25 - 1.25) * ((100vw - 320px) / (1440 - 320)));
	position: absolute;
	left: 0;
	top: 0;
}

.consult__description,
.consult__description-bold {
	font-size: 1.0625rem;
	line-height: 1.3125rem;
	color: #FFFFFF;
}

.consult__description {
	font-weight: 400;
}

.consult__description-bold {
	font-weight: 700;
}

.consult__block-right {
	background: -o-linear-gradient(340.63deg, #010E8F 0%, #0116ED 100%);
	background: linear-gradient(109.37deg, #010E8F 0%, #0116ED 100%);
	padding: 30px 0;
	max-width: 425px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-grid-column-align: end;
	justify-self: end;
	width: 100%;
}

.consult__appoinment {
	font-weight: 700;
	font-size: 1.3125rem;
	line-height: 1.625rem;
	text-align: center;
	color: #FFFFFF;
	max-width: 198px;
	padding-bottom: 0.8125rem;
}

.consult__appoinment span {
	font-size: 1.0625rem;
	line-height: 21px;
}

::-webkit-input-placeholder {
	/* WebKit browsers */
	color: #990BFF;
}

:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	color: #990BFF;
}

::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: #990BFF;
}

:-ms-input-placeholder {
	/* Internet Explorer 10+ */
	color: #990BFF;
}

.consult__phone {
	font-weight: 700;
	font-size: 1.3125rem;
	line-height: 26px;
	color: #990BFF;
	background: rgba(255, 255, 255, 0.9);
	padding: 0.4375rem 2.625rem;
	font-family: 'Montserrat', sans-serif;
	text-align: center;

}

.start__btn-blue {
	background: -o-linear-gradient(359.49deg, #2FFAFF 0%, #22EAEF 100%);
	background: linear-gradient(90.51deg, #2FFAFF 0%, #22EAEF 100%);
	-webkit-box-shadow: 0px 0px 30px 2px #2FFAFF;
	box-shadow: 0px 0px 30px 2px #2FFAFF;
	font-weight: 700;
	font-size: 0.9375rem;
	line-height: 1.125rem;
	color: #132587;
	-ms-flex-item-align: stretch;
	-ms-grid-row-align: stretch;
	align-self: stretch;
	text-align: center;
	margin-top: 1.25rem;
	padding: 0.6875rem 0;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	cursor: pointer;
	font-family: 'Montserrat', sans-serif;
}

.start__btn-blue:hover {
	opacity: .9;
}

/*----- Section-Plus-----*/
.plus__main {
	position: relative;
}

.plus {
	padding: 102px 0px 116px 0px;
	position: relative;
	z-index: 1;
}

.plus-grid {
	display: -ms-grid;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
	gap: 1.5rem;
}

.plus__card {
	background: #FFFFFF;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 1.875rem 1.25rem;
}

.card__title {
	font-weight: 700;
	font-size: 1.0625rem;
	line-height: 21px;
	text-align: center;
	color: #132587;
	padding-bottom: 1.0625rem;
	max-width: 10.5rem;
}

.card__img {
	width: 50px;
	height: 50px;
	position: relative;
}

.card__img img {
	width: 100%;
	height: 100%;
	-o-object-fit: contain;
	object-fit: contain;
	position: absolute;
	top: 0;
	left: 0;
}

.card__description {
	font-weight: 400;
	font-size: 0.8125rem;
	line-height: 16px;
	text-align: center;
	color: #929292;
	padding-top: 1.25rem;
	max-width: 181px;
	text-transform: uppercase;
}

.plus__polygon-absolute {
	position: absolute;
	bottom: 298px;
	left: -113px;
	z-index: 0;
}

.plus__polygon-absolute img {
	width: 439px;
	height: 439px;
}

/*project*/
.project__main {
	background: #290C9A;
	padding: 74px 0 210px 0;
	position: relative;
	z-index: 1;
}

.project-top {
	padding: 0px 0 100px 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.project__subtitle {
	padding: 0 calc(0.625rem + (151.625 - 0.625) * ((100vw - 320px) / (1440 - 320))) 20px 0px;
}

.project__btn {
	background: rgba(196, 196, 196, 0.1);
	border: 3px solid #CF0FFF;
	font-weight: 700;
	font-size: 15px;
	line-height: 18px;
	color: #FFFFFF;
	text-transform: uppercase;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}

.project__btn:hover {
	border-color: #D735FF;
}

.project__btn-top {
	padding: 1rem 4.6875rem;
}

.project__btn-top::after {
	content: " ";
	display: block;
	background-image: url(../img/icon/arrow.svg);
	background-repeat: no-repeat;
	background-size: contain;
	width: 0.625rem;
	height: 0.625rem;
	margin-left: 0.625rem;
}

.project-grid {
	display: -ms-grid;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
	gap: 4.375rem;
}

.project__card {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.project__img {
	max-height: 18.75rem;
	max-width: 16.875rem;
	background: #FFFFFF;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	border: 3px solid #CF0FFF;
}



.project__img img {
	width: 100%;
	height: 100%;
	-o-object-fit: contain;
	object-fit: contain;
}

.project__card-title {
	width: 100%;
	height: 100%;
	-o-object-fit: contain;
	object-fit: contain;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	font-weight: 700;
	font-size: 1.3125rem;
	line-height: 1.625rem;
	text-align: center;
	color: #CF0FFF;
	padding: 1.875rem 0 1.5rem 0;
	max-width: 230px;
}

.project__btn-card {
	padding: 16px 97px 16px 64px;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	-ms-flex-item-align: stretch;
	-ms-grid-row-align: stretch;
	align-self: stretch;
	font-weight: 700;
	font-size: 15px;
	line-height: 18px;
}

.project__btn-card::after {
	content: " ";
	display: block;
	background-image: url(../img/icon/arrow.svg);
	background-repeat: no-repeat;
	background-size: contain;
	width: 0.625rem;
	height: 0.625rem;
	position: absolute;
	right: 2.6875rem;
	top: 50%;
	margin-top: -5px;
}

/*-----Licenses-----*/
.licenses__main {
	padding-top: 74px;
	padding-bottom: 100px;
}

.licenses__subtitle {
	padding-bottom: 40px;
}

.licenses-grid {
	display: -ms-grid;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 24px;
}

.licenses__card {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.licenses__img {
	max-height: 290px;
	max-width: 220px;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
}

.licenses__img img {
	width: 100%;
	height: 100%;
	-o-object-fit: contain;
	object-fit: contain;
}

/*-----Footer-----*/
.footer {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	border-top: 3px solid rgba(255, 255, 255, 0.2);
	padding: 50px 0;
}

.footer__main {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.footer__info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 15px;
	padding-left: 158px;
}

.footer__society {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 10px;
}

.society__img {
	width: 2rem;
	height: 2rem;
	display: block;
}

.society__img img {
	width: 100%;
	height: 100%;
	-o-object-fit: contain;
	object-fit: contain;
	cursor: pointer;
}

.footer__email {
	font-weight: 400;
	font-size: 0.875rem;
	line-height: 1.0625rem;
	color: #FFFFFF;
}

@media(max-width: 599px) {
	.phone__menu {
		display: block;
	}

	.header-main {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}

	.header__menu {
		display: none;
	}

	.header__connection {
		display: none;
	}

	.footer__main {
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}

	.footer__info {
		padding-left: 0px;
	}
}

@media(max-width:640px) {
	.start__block {
		max-width: 100%;
	}

	.start__info {
		gap: 60px;
	}

	.start__title {
		font-size: 1.875rem;
		line-height: 2.25rem;
	}

	.consult__block {
		-ms-grid-column-align: center;
		justify-self: center;
	}
}


/* Модальное окно */

.popup {
	display: none;
	/* visibility: hidden; */
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #0009;
	z-index: 130;
}

.cart-body {
	position: relative;
	margin: auto;
	width: 1024px;
	min-height: 200px;
	max-height: 640px;
	background-color: #fff;
	padding: 25px;
	overflow: auto;
	border-radius: 3px;
}

.cart-close {
	position: absolute;
	top: 25px;
	right: 25px;
	cursor: pointer;
	height: 25px;
	width: 25px;
	background-image: url(../img/icon/cart-close.svg);
}


/* Slideshow banners at header */

.slideshow {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	background: transparent;
	margin: 20px 0;
}

.slideshow-item {
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0;
	animation: slideanim 25s infinite;
}

.slideshow-item:nth-child(1),
.slideshow-item:nth-child(1) img {
	animation-delay: 0;
}

.slideshow-item:nth-child(2),
.slideshow-item:nth-child(2) img {
	animation-delay: 5s;
}

.slideshow-item:nth-child(3),
.slideshow-item:nth-child(3) img {
	animation-delay: 10s;
}

.slideshow-item:nth-child(4),
.slideshow-item:nth-child(4) img {
	animation-delay: 15s;
}

.slideshow-item:nth-child(5),
.slideshow-item:nth-child(6) img {
	animation-delay: 20s;
}

.slideshow-item img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	animation: 10s infinite;
}

.slideshow-item-text {
	max-width: 100%;
	position: absolute;
	color: #fff;
}

.slideshow-item-text h5 {
	font-size: 22px;
	margin: 0 0 10px 0;
	color: #BFE2FF;
}

.slideshow-item-text p {
	font-size: 15px;
	margin-bottom: 10px;
}

@keyframes slideanim {
	12.5% {
		opacity: 1;
	}

	25% {
		opacity: 0;
	}

	37.5% {
		opacity: 0;
	}
}

@keyframes zoom {
	50% {
		transform: scale(1.3);
	}
}

@media screen and (max-width: 1100px) {
	.slideshow-item-text {
		max-width: 75%;
	}
}

@media screen and (max-width: 456px) {
	.slideshow-item-text {
		bottom: 0;
		left: 0;
		max-width: 100%;
	}

	.slideshow-item-text h5 {
		font-size: 18px;
	}

	.slideshow-item-text p {
		font-size: 13px;
	}
}